:root {
  --main: #fff;
  --main-darker: #c2c2c2;
  --main-dark: #696f75;
  --second: #7289da;
}

#logo {
  float: left;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#root > div {
  display: flex;
  flex-flow: column;
}

.content {
  display: flex;
  flex: 1 1 auto;
}

.content-main {
  width: 100%;
  flex: 1 1 auto;
}

.topnav {
  overflow: hidden;
  background-color: black;
  width: 1300px;
  height: 55px;
  padding: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 30px;
  font-family: helvetica;
  margin: 5px;
}

.topnav .search-container {
  float: left;
  width: 415px;
}

.topnav input[type="text"] {
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  border: none;
  width: 350px;
}

.topnav .search-container button {
  float: right;
  background: white;
  font-size: 10px;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 10px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 500px;
  float: left;
  background-color: #f1f1f1;
}

.subIcon {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.subIcon:hover {
  background-color: #555;
  color: white;
}

#stream-show {
  height: 100%;
  margin: 0;
}

#stream-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0;
}

#chat-container {
  display: flex;
  flex-flow: column;
  padding-top: 0;
  background-color: #2d2c2e;
}

#chat-messages {
  width: 100%;
  background-color: var(--main);
  border: 1px solid var(--main-dark);
  border-radius: 5px;
  background-color: #222324;
}

#chat-messages .message {
  padding: 0.4em 0.8em;
  word-break: break-all;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#chat-messages .message:hover {
  background-color: var(--main-dark);
}

#chat-messages .message-username {
  font-weight: bold;
}

#chat-form {
  padding-top: 1rem;
}

#chat-form > textarea {
  padding: 0.5em 0.8em 0 0.8em;
  width: 100%;
  resize: none;
  height: 5em;
  max-height: unset;
  min-height: unset;
  background-color: #222324;
  border: 1px solid var(--main-dark);
  border-radius: 5px;
  color: whitesmoke;
}

#chat-form > textarea:focus {
  background-color: #36393f;
}

#chat-form > button {
  float: right;
}

.content-scrollable {
  height: 0;
  flex: 1 1 auto;
  overflow-y: auto;
}

.content-scrollable > :last-child {
  margin-bottom: 1rem;
}

.white-text {
  color: white !important;
}
